/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/

.featured-image {
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
  height: 50vw;

  @include desktop {
    max-height: unset;
    height: calc(100vh - 210px);
  }
}

.background-banner {
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  &__desktop {
    @include mobile-only {
      display: none;
    }

    .hero-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: auto;
      margin-left: 83px;
      // height: calc(100vh - 180px); // Correct Code to Go to Prod
      height: calc(100vh - 210px); // With the WP Top Bar

      h1 {
        color: #fff;
        margin-bottom: 24px;
        font-size: 4rem;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__mobile {
    display: contents;

    img {
      object-fit: cover;
      height: 50vw;
    }

    .mobile-hero-content {
      @include padding-y(24px);
      background-color: var(--dark-blue);
      text-align: center;

      h1 {
        color: #fff;
      }

      button {
        width: 100%;
        margin-top: 16px;
      }
    }

    @include desktop {
      display: none;
    }
  }
}

// Utility Bar
.utility {
  background-color: var(--blue);
  margin-bottom: 32px;
  font-size: 1.9rem;

  @include desktop {
    margin-bottom: 72px;
  }

  &__menu {
    @include padding-y(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: #fff;
    }

    #breadcrumbs {
      color: #fff;
      font-size: 1.2rem;

      &:first-child {
        font-weight: var(--extra-bold);
      }

      @include desktop {
        font-size: 1.6rem;
      }

      i {
        color: var(--dark-blue);
        font-size: 1.2rem;
        line-height: 15px;
        @include desktop {
          font-size: 1.4rem;
        }
      }

      a {
        text-decoration: underline;
        font-weight: var(--semi-bold);
        line-height: 15px;
        color: #fff;
        @include padding-x(8px);
        font-size: 1.2rem;

        @include desktop {
          font-size: 1.6rem;
        }
      }

      .breadcrumb_last {
        font-size: inherit;
        font-weight: var(--semi-bold);
        padding-left: 8px;
      }
    }
  }

  &__actions {
    ul {
      display: inline-flex;
      color: #fff;
      li {
        margin: 0;
        font-size: 1.6rem;

        &:nth-child(-n + 2) {
          padding-right: 16px;
          i {
            padding-right: 8px;
          }
        }

        &:nth-child(n + 3) {
          padding-right: 8px;
          &::before {
            content: "";
            border-left: 1px solid var(--dark-blue);
            color: var(--dark-blue);
            padding-right: 8px;
          }
        }

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    @include mobile-only {
      display: none;
    }
  }
}
