/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Default Styles 
.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  border-radius: 2px;
  font-weight: var(--extra-bold);
  font-size: 1.5rem;
  cursor: pointer;
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  transition: background-color 0.2s ease-in-out;
}
