/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 61px;
  border: 6px solid #ffffff;
  color: #fff;
  background-color: var(--orange);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  color: #fff;
  border-color: #888;
  outline: 0;
}