/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Default Styles 
.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  box-shadow: 2px 2px 5px var(--grey);
  transition: box-shadow 0.3s ease-in-out;
  outline: 0;
}
