/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

// Create Sprite Images
$class-prefix: "btn--";
$sprite-image-url: "images/footer-accessibility-sprite.png";
$sprite-grid-size: 26.4px;

$icon-list: (
  ("mail", 0, 0) ("print", 0, 1) ("font-small", 0, 2) ("font-reset", 0, 3)
    ("font-big", 0, 4)
);

@mixin icon($row, $column) {
  background-position: (-$column * $sprite-grid-size)
    (-$row * $sprite-grid-size);
}

@each $icon in $icon-list {
  $name: nth($icon, 1);
  $row: nth($icon, 2);
  $column: nth($icon, 3);

  .#{$class-prefix}#{$name} {
    @include icon($row, $column);
  }
}

[class*="#{$class-prefix}"] {
  display: inline-block;
  width: $sprite-grid-size;
  height: $sprite-grid-size;
  line-height: $sprite-grid-size;
  background-image: url(#{$sprite-image-url});
  background-repeat: no-repeat;
}

// Footer
.footer {
  width: 100%;
  font-size: 1.2rem;
  margin-top: 5rem;
  margin-bottom: 3rem;

  .container {
    @extend %flex-column;
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

    @include desktop {
      margin-bottom: 0;
    }

    img {
      height: 60px;
      width: auto;
    }
  }

  &__navigation {
    ul {
      list-style: none;
      font-weight: bold;

      @include desktop {
        display: inline-flex;
        margin-bottom: 0;
      }

      li {
        margin-right: 12px;

        @include desktop {
          &::after {
            margin-left: 12px;
            color: var(--dark-blue);
            content: "|";
          }

          &:last-of-type::after {
            content: "";
          }
        }
      }
    }
  }

  @include desktop {
    .container {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-end;
    }

    &__partners {
      justify-content: flex-start;
      flex-wrap: nowrap;
      margin-bottom: 0;
    }
  }
}
