/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
<<<<<<< HEAD
<<<<<<< HEAD
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 61px;
  border: 1px solid #fff;
  border-radius: 16px;
  background-color: transparent;
  font-size: 2rem;
  padding: 11px 17px;
  color: #fff;
  max-width: 100%;

  &::placeholder {
    color: #fff;
    font-weight: bold;
  }
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--orange);
  outline: 0;
}

// WP CONTACT FORM 7
=======
=======
>>>>>>> staging
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  border-radius: 2px;
  background-color: transparent;
  font-size: 2rem;
  padding: 11px 17px;
  max-width: 100%;
  border-radius: 25px;

  &::placeholder {
    font-weight: $extra-bold;
  }
}

input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  border: 1px solid $blue;
  outline: 0;
}

.search {
  align-self: flex-end;
}

/* WP Contact Form 7
–––––––––––––––––––––––––––––––––––––––––––––––––– */
<<<<<<< HEAD
>>>>>>> develop
=======
>>>>>>> staging
.wpcf7-response-output {
  height: 61px;
  border-radius: 16px;
}

.wpcf7-mail-sent-ok {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 61px;
  border: 6px solid #fff !important;
  border-radius: 16px;
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: var(--green);
=======
  background-color: $green;
>>>>>>> develop
=======
  background-color: $green;
>>>>>>> staging
  font-size: 2rem;
  padding: 11px 17px;
  color: #fff;
}

div.wpcf7-validation-errors {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

div.wpcf7-mail-sent-ok {
  width: 50%;
}
