/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

%header-item {
  border: 0;
  border-radius: 0;
  color: #fff;
  text-shadow: 0 1px 3px var(--green-shadow);
  font-size: 1.6rem;
  font-weight: var(--black);
  box-shadow: none;
  background-color: transparent;

  &:hover {
    transform: scale(1.1);
  }
}

.page-header {
  background: url("images/backgrounds/bg-header.png") center no-repeat;
  background-size: cover;
  padding-top: 4px;

  @include desktop {
    padding: 14px 43px 0 36px;
  }

  &::after {
    content: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
  }

  .nav-logo {
    max-width: 147px;
    margin-bottom: -12px;
    margin-right: 62px;
    z-index: 2;
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#000')";
    -webkit-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.4));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#000')";

    &:hover {
      cursor: pointer;
    }

    @include desktop {
      max-width: 100%;
      max-height: 139px;
      margin-bottom: -23px;
    }
  }

  .nav-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;

    .menu-service {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      .btn-dark-blue {
        margin-left: 16px;
        white-space: nowrap;
      }

      #navbar-search,
      #navbar-btn-search {
        display: none;
      }

      #search-icon {
        color: var(--dark-blue);
        font-size: 2rem;
      }

      .search-bar {
        background: #ffffff;
        border: 1px solid var(--dark-blue);
        border-radius: 25px;
        font-weight: var(--extra-bold);
        font-size: 1.5rem;
        color: var(--blue);
        margin-right: 8px;
        width: 100%;
        height: 100%;

        &::placeholder {
          color: var(--blue);
          // color: var(--dark-blue);
        }
      }
    }

    .menu-desktop {
      text-transform: uppercase;
      width: 100%;

      a {
        @extend %header-item;

        &:hover {
          text-decoration: none;
        }
      }

      #menu-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        @include margin-y(0);

        li {
          margin-bottom: 0;
          padding-bottom: 20px;

          .active {
            color: var(--blue);
            background-color: #fff;
          }
        }
      }
    }
  }

  .navbar-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

    .menu-toggle {
      @extend %header-item;
      margin-bottom: 8px;
    }
  }
}

.menu-mobile {
  @include list-icon($fa-var-chevron-right);
  color: #fff;
  margin: 0;

  .menu-item {
    @include padding-x(10px);
    @include padding-y(16px);
    margin: 0;

    a {
      background-color: grey;
      color: #fff;
      // font-weight: bold;
    }

    .sub-menu {
      li {
        color: red;
        border-bottom: 1px solid orange;
        background-color: #fff !important;
        @include padding-y(12px);

        a {
          color: red;
        }
      }
    }
  }
}

.mega-menu {
  .tab-content {
    display: none;
    @include margin-y(55px);
  }

  .card__content {
    padding: 24px 30px;
  }

  &__list {
    @extend .list-chevron-blue;

    li {
      font-size: 1.6rem;
      font-weight: var(--extra-bold);
      padding-bottom: 16px;
      border-bottom: 1px solid var(--blue);
      text-transform: uppercase;
    }
  }

  &__article {
    display: flex;

    img {
      max-width: 55%;
      padding-right: 16px;
    }

    h4 {
      color: var(--dark-blue);
    }

    &:first-child {
      margin-bottom: 32px;
    }
  }
}
