/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.nav-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (min-width: 550px) {
  .site-branding {
    display: none;
  }
}

.site-branding {
  display: flex;
  justify-content: center;
  border-bottom: 4px solid #19498d;

  img {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 120px;
    height: auto;
  }
}

.page-header {
  background: var(--sky-dark) url('images/hills.png') bottom no-repeat;
  background-size: 100% auto;

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
  }
  &::after {
    content: none;
  }
}

.navbar {
  @include margin-y(10px);
  text-transform: uppercase;
  a {
    color: #fff;
  }

  #primary-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;

    li {
      @include margin-y(1rem);
    }
  }
}
