/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

%header-item {
  border: 0;
  border-radius: 0;
  color: #fff;
  text-shadow: 0 1px 3px var(--green-shadow);
  font-size: 1.6rem;
  font-weight: var(--black);
  box-shadow: none;
  background-color: transparent;

  &:hover {
    transform: scale(1.1);
  }
}

.page-header {
  background: url("images/backgrounds/bg-header.png") center no-repeat;
  background-size: cover;
  padding-top: 4px;

  @include desktop {
    @include padding-lr(43px, 36px);
    padding-top: 14px;
  }

  &::after {
    content: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    @include margin-x(10px);
  }

  .nav-logo {
    max-width: 147px;
    margin-bottom: -12px;
    z-index: 2;
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#000')";
    -webkit-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.4));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#000')";

    &:hover {
      cursor: pointer;
    }

    @include desktop {
      max-width: 100%;
      max-height: 139px;
      margin-bottom: -23px;
    }
  }

  .nav-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;

    .menu-service {
      @extend .flex-centered;

      .btn-dark-blue {
        margin-left: 16px;
      }

      #navbar-search {
        display: none
      }

      #search-icon {
        color: var(--dark-blue);
        font-size: 2rem;
      }

      .search-bar {
        background: #ffffff;
        border: 1px solid var(--dark-blue);
        border-radius: 25px;
        font-weight: var(--extra-bold);
        font-size: 1.5rem;
        color: var(--blue);
        margin-right: 8px;

        &::placeholder {
          color: var(--dark-blue);
        }
      }
    }

    .menu-desktop {
      text-transform: uppercase;

      a {
        @extend %header-item;

        &:hover {
          text-decoration: none;
        }
      }

      #menu-desktop {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
        @include margin-y(0);

        li {
          margin-bottom: 20px;
          &:nth-child(2) {
            @include padding-x(45px);
          }
        }
      }
    }
  }

  .navbar-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

    .menu-toggle {
      @extend %header-item;
      margin-bottom: 8px;
    }
  }
}

.menu-mobile {
  @include list-icon($fa-var-chevron-right);
  color: #fff;
  margin: 0;

  .menu-item {
    @include padding-x(10px);
    @include padding-y(16px);
    margin: 0;

    a {
      background-color: grey;
      color: #fff;
      // font-weight: bold;
    }

    .sub-menu {
      li {
        color: red;
        border-bottom: 1px solid orange;
        background-color: #fff !important;
        @include padding-y(12px);

        a {
          color: red;
        }
      }
    }
  }
}
