/*--------------------------------------------------------------
# Hero Banner
--------------------------------------------------------------*/

.featured-image {
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.utility {
  background-color: var(--blue);
  margin-bottom: 72px;
  font-size: 1.9rem;

  &__menu {
    @include padding-y(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: #fff;
    }

    #breadcrumbs {
      color: #fff;
      font-size: 1.6rem;

      &:first-child {
        font-weight: 800;
      }
      
      i {
        color: var(--dark-blue);
        font-size: 1.4rem;
      }
      
      a {
        text-decoration: underline;
        font-weight: 300;
        @include padding-x(8px);
      }

      .breadcrumb_last {
        font-weight: 300;
        padding-left: 8px;
      }
    }
  }

  &__actions {
    a {
      padding-right: 8px;
      font-size: 1.6rem;

      &:nth-child(n + 3) {
        &::before {
          content: "";
          border-left: 1px solid var(--dark-blue);
          color: var(--dark-blue);
          padding-right: 12px;
        }
      }
    }

    @include mobile-only {
      display: none;
    }
  }
}
