/*--------------------------------------------------------------
# Global Elements
--------------------------------------------------------------*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.grid__2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
