/*--------------------------------------------------------------
# Global Elements
--------------------------------------------------------------*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: proxima-nova, sans-serif, "HelveticaNeue", "Helvetica Neue",
    Helvetica, Arial;
}

section,
article {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}
