/*--------------------------------------------------------------
# Global Elements
--------------------------------------------------------------*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site {
  display: contents;
}

.site-content {
  flex: 1;
}

section {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}
