/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

// Import proxima-nova from Adobe
// @import url('https://use.typekit.net/wws1hcf.css');

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 300;
  font-family: proxima-nova, sans-serif, "HelveticaNeue", "Helvetica Neue",
    Helvetica, Arial;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: var(--black);
  color: var(--dark-blue);
}
h2 {
  font-size: 1.8rem;
  line-height: 1.25;
  font-weight: var(--black);
  color: var(--blue);
}
h3 {
  font-size: 1.7rem;
  line-height: 1.3;
  font-weight: var(--black);
  color: var(--blue);
}
h4 {
  font-size: 1.6rem;
  line-height: 1.35;
  font-weight: var(--extra-bold);
  color: #fff;
}
h5 {
  font-size: 1.5rem;
  line-height: 1.5;
}
h6 {
  font-size: 1.4rem;
  line-height: 1.6;
}

p {
  margin: 0;
  color: var(--paragraph-text);
  font-weight: var(--regular);
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
}

/* Larger than tablet */
@media (min-width: 550px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 2.1rem;
  }
  h5 {
    font-size: 1.8rem;
  }
  h6 {
    font-size: 1.5rem;
  }
  p,
  a {
    font-size: 1.9rem;
  }
}

/* Blockquote
–––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote,
blockquote p {
  margin: 0;
  color: var(--paragraph-text);
  font-weight: var(--medium);
  font-size: 1.6rem;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--dark-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
