/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

:root {
  // Branding Colors
  --blue: #29abff;
  --dark-blue: #0a73b7;
  --grey: #484848;
  --orange: #f79533;
  --green: #86c555;
  --dark-green: #529f17;
  --red: #ee3436;

  // Hover Colors
  --dark-blue-hover: #09639e;
  --blue-hover: #259ae6;
  --green-hover: #74ab4a;
  --orange-hover: #de862e;

  // Font Weights
  --thin: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;

  // Branding Extra
  --paragraph-text: #282d39;
  --green-shadow: #589429;
  --default-spacing: 8px;
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-dark-green {
  background-color: var(--dark-green);
}
.bg-red {
  background-color: var(--red);
}

// Colors for the mobile Menu Items
@mixin mm-menu-item($primaryColor, $secondaryColor) {
  background-color: $primaryColor;
  .sub-menu {
    li {
      color: $primaryColor;
      &:not(:last-child) {
        &::after {
          border-bottom: 1px solid $secondaryColor;
        }
      }
    }
  }
}

.mm-item-dark-blue {
  @include mm-menu-item(var(--dark-blue), var(--blue));
}
.mm-item-dark-green {
  @include mm-menu-item(var(--dark-green), var(--green));
}
.mm-item-red {
  @include mm-menu-item(var(--red), var(--orange));
}
.mm-item-blue {
  @include mm-menu-item(var(--blue), var(--dark-blue));
}
