/* Buttons Mixins
–––––––––––––––––––––––––––––––––––––––––––––––––– */

%mm-btn {
  text-transform: uppercase;
  color: #fff;
  border-radius: 25px;
  border: none;
  padding: 14px 26px;
  margin: 0;
}

.btn-dark-blue {
  @extend %mm-btn;
  background-color: var(--dark-blue);
}
.btn-blue {
  @extend %mm-btn;
  background-color: var(--blue);
}
.btn-green {
  @extend %mm-btn;
  background-color: var(--green);
}
.btn-orange {
  @extend %mm-btn;
  background-color: var(--orange);
}
