/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin mm-card($primaryColor, $secondaryColor) {
  @extend %flex-column-grow;

  .card {
    &__header {
      line-height: 0;
      border-bottom: 12px solid $secondaryColor;
      img {
        width: 100%;
      }
    }
    &__content {
      @extend %flex-column-grow;
      @include list-icon($fa-var-chevron-right);
      padding: 24px 16px 32px;
      background-color: $primaryColor;
      color: #fff;

      @include desktop {
        // display: flex;
        // flex-direction: column;
        // flex-grow: 1;
        padding: 24px 40px;
      }

      h4 {
        color: inherit;
        margin-bottom: 16px;
      }

      p {
        color: inherit;
      }

      button {
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}

.card-general {
  @include mm-card(var(--dark-blue), var(--blue));
}

.card-training {
  @include mm-card(var(--dark-green), var(--green));
}

.card-resources {
  @include mm-card(var(--red), var(--orange));
}

.cards {
  @include margin-tb(40px, 56px);

  .card__content {
    justify-content: space-between;
  }
}

/* Video
–––––––––––––––––––––––––––––––––––––––––––––––––– */
video {
  max-width: 100%;
  &:focus {
      outline: none;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// .section-video {
//   @extend %line-behind-title;

//   .cards {
//     @include grid(2);
//     @include margin-tb(32px, 56px);
//   }
// }
