/*--------------------------------------------------------------
# Grid Mixins
--------------------------------------------------------------*/

// Flex
%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-column-grow {
  @extend %flex-column;
  flex-grow: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Grid
@mixin grid($columns) {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  @include desktop {
    grid-template-columns: repeat($columns, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}