/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: none;
}
ol {
  list-style: none;
}

ol,
ul {
  padding-left: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}

@mixin list-icon($icon){
  li {
    &::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($icon);
      padding-right: 8px;
    }
  }
}

// main {
//   ol, ul {
//     list-style: none;
//   }
// }