/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-left: 1em;
  margin-bottom: 8px;
  font-size: 1.9rem;
  font-weight: var(--semi-bold);
}

@mixin list-icon($icon) {
  li {
    &::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($icon);
      font-size: 1.6rem;
      float: left;
      margin-left: -1em;
      line-height: 30.4px;
      color: inherit;
    }
  }
}

.list-chevron-blue {
  @include list-icon($fa-var-chevron-right);
  color: var(--blue);
}

.list-chevron-green {
  @include list-icon($fa-var-chevron-right);
  color: var(--green);
}
.list-chevron-red {
  @include list-icon($fa-var-chevron-right);
  color: var(--red);
}

/* Lists BKP
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin list-header-icon($icon) {
  li {
    &::before {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($icon);
      position: absolute;
      left: 10px;
      font-size: 1.2rem;
      line-height: 26px;
      // padding-left: 10px;
    }
  }
}
