/*--------------------------------------------------------------
# Spacing
--------------------------------------------------------------*/

// x - for classes that set both *-left and *-right
@mixin margin-x($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin padding-x($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin margin-rl($mt, $mb) {
  margin-top: $mt;
  margin-bottom: $mb;
}

@mixin padding-rl($mt, $mb) {
  padding-top: $mt;
  padding-bottom: $mb;
}

// y - for classes that set both *-top and *-bottom
@mixin margin-y($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

@mixin padding-y($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin margin-tb($mt, $mb) {
  margin-top: $mt;
  margin-bottom: $mb;
}

@mixin padding-tb($mt, $mb) {
  padding-top: $mt;
  padding-bottom: $mb;
}
