/*--------------------------------------------------------------
# Content Page / Partial template
--------------------------------------------------------------*/

.site-main {
  .error-404 {
    @extend %flex-column;
    h1 {
      text-align: center;
    }
    section {
      justify-content: center;
      align-items: center;
    }

    .section-decomissioned-content {
      @include section-spacing(52px, 56px);

      p {
        text-align: center;
      }

      img {
        @include margin-tb(61px, 44px);
      }
    }

    .section-quick-links {
      h1 {
        margin-bottom: 40px;
      }

      .quick-links {
        @include grid(2);
        h4 {
          margin-bottom: 16px;
        }
      }
    }

    .section-mascots {
      @include section-spacing(32px, 72px);
      h1 {
        @include margin-tb(32px, 40px);
      }
    }
  }
}
