/*--------------------------------------------------------------
# Content Page / Partial template
--------------------------------------------------------------*/

.site-main {
  .featured-image {
    width: 100%;
    box-sizing: border-box;
    height: auto;
  }

  .featured-image-actions {
    display: flex;
    justify-content: space-between;
  }
}
