/*--------------------------------------------------------------
# Content Page / Partial template
--------------------------------------------------------------*/

.featured-image {
    width: 100%;
    box-sizing: border-box;
    height: auto;
  }