/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

<<<<<<< HEAD
.hero {
  text-align: center;

  &__clouds {
    background-color: var(--sky-light);

    div {
      width: 200px;
      height: 200px;
      background-image: url("images/cloud-1.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      animation: left-to-right 10s linear 1s infinite;
      overflow: hidden;

      @keyframes left-to-right {
        0% {
          // background-color: red;
          left: 0px;
          top: 0px;
        }
        // 50% {
        //   // background-color: yellow;
        //   left: 100%;
        //   top: 0px;
        // }
        100% {
          // background-color: red;
          left: 100%;
          top: 0px;
        }
      }
    }
  }

  &__title {
    @extend %flex-column;
    justify-content: center;
    align-items: center;
    padding-top: 33px;
    background: var(--bg-sky);
    h1,
    p {
      color: var(--blue);
      font-weight: bold;
    }

    @include desktop {
      padding-top: 125px;
      h1 {
        font-size: 9.9rem;
      }
      p {
        font-size: 2.8rem;
      }
    }
=======
// Brand Mascot Horizontal Line
@mixin mascot-hr($color) {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: -1;
  border: 1.5px solid $color;

  @include desktop {
    top: 75px;
>>>>>>> develop
  }
}

<<<<<<< HEAD
  &__banner {
    background: var(--sky-dark) url("images/hills.png") bottom no-repeat;
    background-size: 100% auto;

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
=======
#front-page {
  @extend .featured-image;

  .section-intro {
    margin-bottom: 64px;

    h1 {
      margin-bottom: 40px;
    }
    .side-article p {
      font-size: 1.5rem;
      font-weight: $bold;

      a {
        font-size: 1.5rem;
        color: $blue;
      }
    }

    @include mobile-only {
      .side-article {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid $blue;
      }
>>>>>>> develop
    }

<<<<<<< HEAD
  &__content {
    .row {
      @include margin-y(3rem);
      @extend %flex-column;
      align-items: center;
    }
    color: #fff;
    background-color: var(--green);
    h3 {
      font-weight: bold;
    }

    @include desktop {
      p {
        font-size: 2.6rem;
=======
    @include desktop {
      .row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .side-article {
        padding-left: 30px;
        border-left: 1px solid $blue;
>>>>>>> develop
      }
    }
  }

<<<<<<< HEAD
  &__form,
  .hero-form-fields {
    @extend %flex-column;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10rem;

      & * {
        @include margin-x(10px);
        width: calc(100% - 10px);
=======
  .section-category {
    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;

      img {
        padding: 0 24px;
        background-color: #fff;
        max-height: 90px;

        @include desktop {
          max-height: 150px;
        }
      }

      .mascot-hr-general {
        @include mascot-hr($blue);
      }

      .mascot-hr-resources {
        @include mascot-hr($orange);
      }

      .mascot-hr-training {
        @include mascot-hr($green);
      }

      .columns {
        margin: 0;
      }
    }

    h1 {
      @include margin-tb(32px, 16px);
    }

    .card__header {
      img {
        height: 220px;
        object-fit: cover;
      }
    }

    @include mobile-only {
      .card__header {
        img {
          height: 50vw;
          object-fit: cover;
        }
>>>>>>> develop
      }
    }
  }
}
