/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

// Brand Mascot Horizontal Line
@mixin mascot-hr($color) {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: -1;
  border: 1.5px solid $color;

  @include desktop {
    top: 75px;
  }
}

#front-page {
  @extend .featured-image;

  .section-intro {
    margin-bottom: 64px;

    h1 {
      margin-bottom: 40px;
    }
    .side-article {
      font-weight: var(--bold);

      a {
        font-size: 1.5rem;
        color: var(--blue);
      }
    }

    @include mobile-only {
      .side-article {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid var(--blue);
      }
    }

    @include desktop {
      .row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .side-article {
        padding-left: 30px;
        border-left: 1px solid var(--blue);
      }
    }
  }

  .section-category {
    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;

      img {
        @include padding-x(24px);
        background-color: #fff;
        max-height: 90px;

        @include desktop {
          max-height: 150px;
        }
      }

      .mascot-hr-general {
        @include mascot-hr(var(--blue));
      }

      .mascot-hr-resources {
        @include mascot-hr(var(--orange));
      }

      .mascot-hr-training {
        @include mascot-hr(var(--green));
      }

      .columns {
        margin: 0;
      }
    }

    h1 {
      @include margin-tb(32px, 16px);
    }

    .card__header {
      img {
        height: 220px;
        object-fit: cover;
      }
    }

    @include mobile-only {
      .card__header {
        img {
          height: 50vw;
          object-fit: cover;
        }
      }
    }
  }
}
