/*--------------------------------------------------------------
# Content Page
--------------------------------------------------------------*/

/* Global Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// .content-area{
// }

// .site-main {
// }

// .entry-header,
.entry-title {
  margin-bottom: 24px;

  @include desktop {
    margin-bottom: 40px;
  }
}

// Defaults for the content that will be added by the user
.mm-content {
  p > img {
    object-fit: cover;
  }

  hr {
    border: 1px solid var(--blue);
  }

  a {
    text-decoration: underline;

    &:hover {
      color: var(--blue);
    }
  }

  h2 {
    @include margin-tb(32px, 24px);
  }

  p,
  ul,
  ol {
    margin-bottom: 24px;
  }

  li {
    font-size: 1.5rem;

    @include phablet {
      font-size: 1.9rem;
    }
  }

  ul {
    li {
      font-weight: var(--regular);

      &::before {
        content: "\2022";
        color: var(--blue);
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }

  ol {
    li {
      @include list-icon($fa-var-chevron-right);
      color: var(--dark-blue);
    }

    a {
      font-weight: var(--bold);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: var(--dark-blue);
      }
    }
  }
}

/* Template Partials
      content-page.php
      content.php
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.entry-content {
  h6 {
    display: inline-flex;
    margin-top: 8px;

    a {
      @extend .btn-general;
    }
  }
}

/* Template Partials Components
      component-related-links.php
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.related-links {
  display: none;

  @include desktop {
    display: block;
    padding-left: 32px;
    border-left: 1px solid var(--blue);
  }

  h2 {
    margin-bottom: 32px;
  }

  ul {
    li {
      @include list-icon($fa-var-chevron-right);
      font-size: 2.1rem;
      font-weight: var(--bold);
      color: var(--dark-blue);
      margin-bottom: 16px;
    }
  }
}

.playlist {
  margin-top: 24px;

  table {
    border-collapse: collapse;
  }
  &__header {
    th {
      padding: 0 0 16px 0;
      border-bottom: none;
    }
  }

  &__song {
    border-bottom: 3px solid var(--dark-blue) !important;

    td {
      @include desktop {
        padding: 8px 0 8px 10px;
        font-size: 1.9rem;
      }
    }

    a {
      text-decoration: none;
      color: var(--dark-blue);
      font-weight: var(--bold);

      @include desktop {
        font-size: 1.9rem;
      }

      &::before {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-chevron-right);
        font-size: 1.4rem;
        float: left;
        margin: 0 0.5em 0 -0.5em;
        line-height: 29px;
        color: inherit;
      }
    }
  }

  audio {
    margin-top: 32px;

    &::-webkit-media-controls-panel {
      background-color: #fff;
    }
    &::-webkit-media-controls-play-button {
      background-color: var(--blue);
      padding: 25px;
      border-radius: 25px;
    }

    &::-webkit-media-controls-current-time-display,
    &::-webkit-media-controls-time-remaining-display {
      display: none;
    }

    // &::-webkit-media-controls-volume-slider {
    //   background-color: var(--blue);
    //   border-radius: 15px;
    //   padding: 18px 30px;
    //   color: #fff;
    // }
  }
}

.search-content {
  h4 {
    margin-top: 32px;
    color: var(--dark-blue);
  }

  form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 24px;

    span {
      display: none;
    }

    label {
      width: 100%;
      margin: 0;
      margin-right: 16px;
    }
  }

  .search-submit {
    @extend .btn-general;
  }
}

/* Accordion
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.accordion {
  cursor: pointer;
  padding: 8px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight: var(--bold);
  color: var(--dark-blue);
  border-radius: 0;
  border-bottom: 3px solid var(--dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &::after {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-plus);
    font-size: 1.4rem;
    margin-left: 5px;
  }

  &.active::after {
    content: fa-content($fa-var-minus);
  }

  @include phablet {
    font-size: 1.9rem;
  }
}

.panel {
  display: none;
  padding: 16px 16px 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: var(--blue);

  ul {
    li::before {
      content: "";
    }

    a {
      @include list-icon($fa-var-chevron-right);
      list-style: none;
      color: var(--blue);
      text-decoration: none;
      font-weight: var(--bold);
    }
  }
}

/* Search Template
      tpl-search.php
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#search-template {
  .search-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    h4 {
      color: var(--dark-blue);
      margin-bottom: 24px;
    }
    &__content {
      display: flex;
      .search-bar {
        width: 80%;
        @extend %search-bar;
      }
    }
  }

  .search-results {
    margin-top: 56px;
    padding-top: 56px;
    border-top: 3px solid var(--dark-blue);

    h2 {
      padding: 32px 0 24px;
    }
  }
}
