/*--------------------------------------------------------------
#  Sitemap Page Template
--------------------------------------------------------------*/

#sitemap-template {
  .sitemap-content {
    a {
      @include list-icon($fa-var-chevron-right);
    }
    li {
      padding: 8px 0;
      margin-bottom: 0;
    }

    > li {
      color: var(--dark-blue);
      border-bottom: 3px solid var(--dark-blue);
      // line-height: 26px;
    }

    .page_item_has_children {
      .children {
        a {
          color: var(--blue);
        }

        .page_item_has_children {
          .children {
            a {
              color: #8c8c8c;
            }
          }
        }
      }
    }
  }
}
