/*--------------------------------------------------------------
# Search - Page Template
--------------------------------------------------------------*/

#tpl-search {
  .search-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;

    h4 {
      color: var(--dark-blue);
      margin-bottom: 24px;
    }
    &__content {
      display: flex;
      #search {
        width: 84%;
        @extend %search-bar;
      }
    }
  }

  .search-results {
    margin-top: 56px;
    padding-top: 56px;
    border-top: 3px solid var(--dark-blue);
  }
}
